.account
  .account__main
    .account__heder
      ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .label
          = f.label :email
        .field__input
          = f.email_field :email, autofocus: true, autocomplete: "email"

      .field
        .label
          = f.label :パスワード
        .field__input
          = f.password_field :password, autocomplete: "current-password"
            - if devise_mapping.rememberable?
      .field        
        .label
          = f.check_box :remember_me
          = f.label :ログイン状態をを保持する
      .field__actions
        = f.submit "ログイン", class: 'btn'
      = render "users/shared/links"

