.account
  .account__main
    .account__heder
      会員登録
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        .label
          = f.label :ニックネーム
          .required
            必須
        .field__input
          = f.text_field :nickname, autofocus: true, placeholder: "例）フリマルコ", autocomplete: "nickname"

      .field
        .label
          = f.label :メールアドレス
          .required
            必須
        .field__input
          = f.email_field :email, autocomplete: "email"

      .field
        .label
          = f.label :パスワード
          - if @minimum_password_length
            (#{@minimum_password_length}文字以上)
          .required
            必須
        .field__input
          = f.password_field :password, autocomplete: "off"

      .field
        .label
          = f.label :確認用パスワード
          .required
            必須
        .field__input
          = f.password_field :password_confirmation

      .field
        .label
          = f.label :お名前（全角）
          .required
            必須
        .name-box
          .field__input
            = f.text_field :family_name, placeholder: "例）伊藤", autocomplete: "family_name"
          .field__input
            = f.text_field :first_name, placeholder: "例）花子", autocomplete: "given-name"

      .field
        .label
          = f.label :お名前カナ（全角）
          .required
            必須
        .name-box
          .field__input
            = f.text_field :kana_family_name, placeholder: "例）イトウ", autocomplete: "kana_name"
          .field__input
            = f.text_field :kana_first_name, placeholder: "例）ハナコ", autocomplete: "kana_name"

      .field
        .label
          = f.label :生年月日
          .required
            必須
        .input-select
          = f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
  
      .field__actions
        = f.submit "次へ", class: 'bt'
    = render "users/shared/links"
